@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/awesome/fontawesome.eot?v=4.7.0');
    src: url('./fonts/awesome/fontawesome.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
         url('./fonts/awesome/fontawesome.woff2?v=4.7.0') format('woff2'), 
         url('./fonts/awesome/fontawesome.woff?v=4.7.0') format('woff'), 
         url('./fonts/awesome/fontawesome.ttf?v=4.7.0') format('truetype'),
         url('./fonts/awesome/fontawesome.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Material';
    src: url('./fonts/material/regular.eot');
    src: url('./fonts/material/regular.eot?') format('embedded-opentype'), 
         url('./fonts/material/regular.woff2') format('woff2'), 
         url('./fonts/material/regular.woff') format('woff'), 
         url('./fonts/material/regular.ttf') format('truetype'),
         url('./fonts/material/regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
.root {
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    text-align: center;
    span {
        width: 100%;
    }
    &[data-type='awsome'] {
        font-family: 'FontAwesome';
        .close::before {
            content: "\f00d";
        }
        .plus::before {
            content: "\f067";
        }
        .angle-down:before {
            content: "\f078";
        }
        .check:before{
            content: "\f00c";
        }
        .ellipsis-v:before {
            content: "\f142";
        }
        .ellipsis-h:before {
            content: "\f141";
        }
        .reply:before {
            content: "\f112";
        }
        .plus-square::before {
            content: '\f0fe';
        }
    }
    &[data-type='material'] {
        font-family: 'Material';
        .dashboard::before {
            content: "\e871";
        }
        .calendar::before {
            content: "\e8df";
        }
    }
}
.hidden {
    display: none;
}